.chat-container {
	border-right: 1px solid #b8b8b8;
	overflow-y: scroll;
}

.chat-bar-nav {
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #b8b8b8;
	padding: 20px;
	font-size: 16px;
}

.chat-bar-nav span {
	color: rgb(68, 68, 165);
	font-weight: 600;
}

.chat-list-wrapper {
	background: #eeeeee79;
}

.chat-list-container {
	border-bottom: 1px solid #b8b8b8;
	display: flex;
	position: relative;
}

.chat-list-container:hover {
	background: #fff;
}

.chat-list-avatar {
	position: relative;
}

.chat-list-avatar img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 1px solid white;
}

.avatar-a {
	position: absolute;
	top: 20px;
	left: 20px;
}

.avatar-b {
	position: absolute;
	top: 45px;
	left: 45px;
}

.chat-list-text {
	padding: 20px 20px 20px 100px;
}

.chat-list-text h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

.chat-list-text p {
	font-size: 14px;
	line-height: 20px;
	padding-right: 60px;
}

.chat-list-time {
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 12px;
}

.unread-num {
	position: absolute;
	bottom: 20%;
	right: 20px;
	font-size: 12px;
	width: 20px;
	height: 20px;
	background: red;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-self: center;
	color: white;
	padding: 3px;
}
