.poster-list-wrapper {
  max-width: 1440px;
  width: 100%;
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
  padding-top: 20px;

  p {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0px;
    padding-left: 60px;
  }

  .poster-list-container {
    // overflow: hidden;
    width: 100%;

    .poster-list-block {
      overflow-x: scroll;
      padding-left: 60px;
      display: flex;
      margin-bottom: 55px;

      img {
        margin-right: 4px;
      }

      .img-box {
        margin-right: 4px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        h6 {
          width: 86px;
          font-size: 20px;
          margin: 0;
          padding: 40px 60px 20px 60px;
        }

        i {
          padding-bottom: 26px;
        }
      }

      .poster-color1 {
        background-image: url(../../assets/icon/color1.png);
      }

      .poster-color2 {
        background-image: url(../../assets/icon/color2.png);
      }

      .poster-color3 {
        background-image: url(../../assets/icon/color3.png);
      }

      .poster-color4 {
        background-image: url(../../assets/icon/color4.png);
      }

      .poster-color5 {
        background-image: url(../../assets/icon/color5.png);
      }

      .poster-color6 {
        background-image: url(../../assets/icon/color6.png);
      }
    }
  }
}
