@import '../../style/colors.scss';

.footer-container {
	padding: 0px 164px;
	position: relative;
	bottom: 40px;

	.social-media-icon {
		display: flex;

		i {
			display: flex;
			color: $grey;
			margin-right: 24px;
			font-size: 30px;
		}
	}

	.text-container {
		display: flex;
	}
	.list {
		margin: 22px 124px 38px 0px;
		display: flex;
		flex-direction: column;
		a {
			text-decoration: none;
			color: $grey;
			padding: 0px 0px 16px 0px;
			font-size: 14px;
		}
	}
	.service {
		border: 1px solid $grey;
		margin-bottom: 20px;
		display: inline-block;
		p {
			color: $grey;
			padding: 8px 6px;
			margin: 0px;
			font-size: 13px;
		}
	}
	.copy-right {
		color: $grey;
		font-size: 11px;
	}
}
