@font-face {
  font-family: "ttnorms";
  src: url(/ttnorms/medium.woff);
  src: url(/ttnorms/regular.woff);
}

body {
  margin: 0px;
  font-family: "ttnorms";
  width: 100%;
  height: 100vh;
}

.mobile-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(to bottom, #0e235f, #4772b7);
}

.mobile-background-image {
  width: 100%;
  height: 100vh;
  z-index: 1;
  position: fixed;
  /* nav: 20px; */
  left: 0;
}

.mobile-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0px;
}

.mobile-logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.23;
  padding: 40px;
}

.mobile-logo p {
  text-align: center;
  margin: auto;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
}
.mobile-logo img {
  width: 100px;
  height: 100px;
  margin: auto;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.mobile-wrapper button {
  background-color: #ea3e58;
  color: #fff;
  z-index: 2;
  font-size: 20px;
  font-family: "ttnorms";
  padding: 20px 70px;
  border: 0;
  border-radius: 150px;
  position: absolute;
  bottom: 40px;
}
.deskblet-wrapper {
  display: none;
}

@media only screen and (min-width: 768px) {
  .mobile-wrapper {
    display: none;
  }

  .deskblet-wrapper {
    overflow: hidden;
    display: block;
  }

  .deskblet-nav {
    background: linear-gradient(to bottom, #0e235f, #8d53eb);
    color: #fff;
  }

  .nav-logo {
    display: flex;
    padding: 15px 0px 15px 10px;
  }

  .nav-logo p {
    font-size: 24px;
  }
  .nav-logo img {
    width: 120px;
    margin: 20px;
  }

  .deskblet-nav-body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 40px;
  }

  .timer-container {
    display: flex;
    width: 210px;
    height: 210px;
    border: 10px solid rgba(87, 93, 159, 0.5);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
  }
  .timer-content {
    background-color: #3a5090;
    border-radius: 50%;
    width: 210px;
    height: 210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .timer-content h2 {
    font-size: 48px;
    letter-spacing: 6px;
    margin: 0px;
    padding: 0px 0px 20px 0px;
  }
  .timer-content p {
    font-size: 20px;
  }
  .timer-content h4 {
    color: lightsalmon;
    margin: 0px;
    font-size: 16px;
  }

  .deskblet-body-content {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .deskblet-body-content p {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
    margin: 0px;
    padding: 15px 0px;
  }
  .deskblet-body-content h4 {
    margin: 0px;
    font-size: 24px;
    font-weight: 800;
  }
  .progress-block {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 30px 30px;
    margin-bottom: 10px;
  }
  .progress-block p {
    opacity: 1;
    display: flex;
    justify-content: center;
    padding: 0px 40px 20px 0px;
    font-size: 14px;
  }

  .progress-block-bar {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    width: 100%;
    height: 5px;
  }
  .progress-block-bar div {
    width: 40%;
    border-radius: 2px;
    height: 5px;
    background-color: #fff;
  }

  .deskblet-bottom {
    padding: 30px;
  }

  .deskblet-bottom-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
  .deskblet-bottom-title {
    display: inline-flex;
    flex-direction: column;
  }
  .deskblet-bottom-name {
    padding-left: 30px;
  }

  .deskblet-bottom-name p {
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
  }

  .deskblet-bottom-name h2 span {
    color: #06c493;
  }

  .bottom-log-out {
    display: flex;
    margin: 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 40px;
    align-items: inherit;
  }
  .bottom-log-out button {
    color: #ea3e58;
    padding: 15px 20px;
    font-size: 18px;
    font-family: inherit;
    box-sizing: border-box;
  }

  .fas {
    margin-right: 5px;
  }
  .deskblet-bottom-body {
    display: flex;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    width: 70%;
    align-items: center;
  }

  .body-number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .body-number-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    color: #ea3e58;
  }

  .body-text {
    padding: 30px 20px;
  }
  .body-text h4 {
    margin: 0px;
    padding-bottom: 10px;
    font-size: 26px;
  }
  .body-text p {
    margin: 0px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
  }
  .border-vanish {
    border: none;
  }
}

@media only screen and (min-width: 1024px) {
  .mobile-wrapper {
    display: none;
  }

  .deskblet-wrapper {
    width: 100%;
    height: 100vh;
  }

  .deskblet-nav {
    width: 33.33%;
    background: linear-gradient(to bottom, #0e235f, #8356c7);
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
  }

  .timer-container {
    width: 240px;
    height: 240px;
  }
  .timer-content {
    width: 240px;
    height: 240px;
  }
  .deskblet-body-content {
    padding: 30px 20px;
    justify-content: space-between;
    align-items: center;
  }
  .deskblet-body-content p {
    padding: 15px;
    margin-bottom: 50px;
    letter-spacing: 1px;
  }
  .deskblet-nav-body {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 70px;
  }

  .progress-block {
    background-color: #fff;
    margin-top: 60px;
    position: absolute;
    bottom: 30px;
  }
  .progress-block p {
    color: #000;
    margin: 0px;
    padding: 0px 0px 15px 0px;
  }
  .progress-block-bar {
    background-color: #e4e5e7;
  }

  .progress-block-bar div {
    background-color: #ea3e58;
  }
  .progress-block span {
    color: #ea3e58;
  }
  .deskblet-bottom {
    width: 66.66%;
    position: absolute;
    right: 0px;
    box-sizing: border-box;
    padding: 0px;
  }
  .deskblet-bottom-head {
    padding-top: 50px;
    margin-top: 40px;
    padding-left: 1 0px;
    padding-bottom: 0px;
  }
  .deskblet-bottom-name {
    margin-left: 20px;
  }

  .deskblet-bottom-name p {
    margin: 0px;
  }

  .deskblet-bottom-name h2 {
    margin: 10px auto 20px auto;
  }

  .bottom-log-out button {
    position: absolute;
    top: 20px;
    right: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 40px;
  }

  .deskblet-bottom-body {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 1440px) {
  .deskblet-bottom-body .text-grey-out {
    color: rgba(0, 0, 0, 0.2);
  }
  .mobile-wrapper {
    display: none;
  }

  .deskblet-wrapper {
    width: 100%;
    height: 100vh;
  }
  .timer-container {
    width: 340px;
    height: 340px;
  }
  .timer-content {
    width: 340px;
    height: 340px;
  }
  .timer-content h2 {
    font-size: 76px;
  }
  .timer-content p {
    font-size: 24px;
  }
  .timer-content h4 {
    font-size: 24px;
  }
  .deskblet-body-content h4 {
    font-size: 28px;
  }
  .deskblet-body-content p {
    font-size: 20px;
  }
  .head-date {
    font-size: 32px;
  }
  .deskblet-bottom-name p {
    font-size: 16px;
  }
  .deskblet-bottom-body {
    margin: 20px 60px;
  }
  .deskblet-bottom-name {
    margin-left: 30px;
  }
}
