.status-box {
	background-color: #ffffff;
	box-shadow: 0px 2px 6px rgba(47, 83, 151, 0.1);
	border-radius: 6px;
	margin-bottom: 30px;

	.heading {
		background-color: #f0f3f8;
		border-radius: 40px;
		display: inline-block;
		margin: 20px 20px 0 20px;

		h3 {
			font-size: 14px;
			padding: 6px 14px;
			letter-spacing: 1px;
			margin: 0;
		}
	}

	.message-bar {
		display: flex;
		border-bottom: 1px solid #f2f2f2;

		img {
			width: 38px;
			margin-right: 22px;
		}

		input {
			width: 100%;
			border-style: none;
			outline-style: none;
		}
	}
	.status-style {
		padding: 22px 25px 22px 25px;
	}
	.mood-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;

		button {
			padding: 10px 30px;
			background: #1f8efa;
			box-shadow: 0px 6px 12px rgba(49, 127, 203, 0.32);
			border-radius: 4px;
			color: #fff;
			font-size: 14px;
		}
		.mood {
			display: flex;
			align-items: center;

			span {
				margin-right: 8px;
			}

			input {
				font-size: 14px;
				font-weight: 500;
				outline-style: none;
				border: none;
				color: #000;
			}
		}
	}
}
