.list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  margin: 50px;
  box-shadow: 5px 5px 10px black;

  h2 {
    font-family: cursive;
    color: #000;
    font-size: 30px;
  }

  .list-block {
    height: 260px;
    font-family: monospace;
    overflow-x: scroll;

    .list {
      width: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .color {
        color: #eee;
      }

      button {
        border: none;
        outline-style: none;
        font-size: 18px;
        color: #fff;
      }

      button:hover {
        color: #C0C0C0;
      }

      span {
        display: inline-block;
        text-align: center;
        font-size: 24px;
        font-weight: 500;
        margin: 10px 20px;
        width: 150px;
      }
    }

  }
}
