h3 {
	color: #fff;
	margin: 0;
	font-size: 20px;
	text-align: center;
}

h5 {
	color: #fff;
	text-align: center;
	margin: 0px;
	padding: 16px;
}

h3:hover {
	background: -webkit-linear-gradient(#eec35d, #ac363f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.champion {
	border: 5px solid rgba(225, 225, 225, 0.2);
	border-radius: 5px;
	margin: 14px;
	box-shadow: 2px 2px 14px #003300;
}

.champion button {
	background: transparent;
	border-style: none;
}

.champion a {
	color: #fff;
	text-decoration: none;
	text-align: end;
}

.champion a:hover {
	background: -webkit-linear-gradient(#eec35d, #ac363f);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
