.App {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.content-wrapper {
	background-color: #4285f4;
	max-width: 400px;
	width: 100%;
	padding: 25px 50px;
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 10px;
}
