.post-comment {
	padding: 12px 22px 20px 22px;
	box-shadow: inset 0px 1px 0px #f5f7fa;
	background: #fff;
	.page-controller {
		display: flex;
		justify-content: space-between;
		font-weight: 300;
		font-size: 12px;
		color: #444444;
	}
	.comments {
		.comment {
			margin-top: 12px;
			.comment-detail {
				display: flex;
				align-items: center;

				img {
					width: 38px;
					height: 38px;
					border-radius: 50%;
					margin-right: 10px;
				}

				span {
					font-weight: 300;
					font-size: 16px;
					background: #eeeeee;
					border-radius: 6px;
					padding: 6px 10px;
					b {
						color: #1f8efa;
						margin-right: 10px;
					}
				}
			}
			p {
				font-size: 12px;
				color: #1f68fa;
				margin: 4px 0 0 50px;
			}
		}
	}
	form {
		display: flex;
		margin-top: 16px;
		input {
			background: #eeeeee;
			border: 1px solid #e9e9e9;
			box-sizing: border-box;
			border-radius: 16px;
			width: 100%;
			padding: 8px 10px;
			font-size: 13px;
		}
	}
}
