@import '../../style/colors.scss';

.movie-container {
	width: 100%;
	padding: 16px 0px 0px 60px;
	position: relative;
	top: -40px;

	.movie-box {
		overflow: hidden;
		width: 100%;

		h3 {
			font-size: 20px;
			line-height: 23px;
			color: $white;
			margin: 0px;
			margin-bottom: 10px;
		}

		.image-box {
			display: flex;
			margin-bottom: 55px;
			overflow-x: scroll;

			img {
				width: 205px;
				height: 125px;
				background-color: #141414;
				padding-right: 10px;
			}
		}
	}
}
