form {
	display: flex;
	width: 100%;
	border-radius: 5px;
	box-shadow: 1px 1px 2px rgb(133, 126, 31);
	margin-bottom: 5px;

	input {
		width: 100%;
		border-radius: 5px 0 0 5px;
		padding: 8px;
		outline: none;
	}

	button {
		padding: 0 20px;
		color: rgb(112, 107, 96);
		border-radius: 0 5px 5px 0;
		background: rgb(223, 210, 100);
		&:hover {
			background-color: rgb(224, 222, 160);
		}
	}
}
