.content {
	padding: 200px 50px;
	background: #f2f2f2;
	height: 100vh;
	display: flex;
	justify-content: space-between;
}

.clear {
	font-size: 18px;
	padding: 12px 78px;
	border-radius: 6px;
	box-shadow: 0px 2px 4px;
	background: #fff;
}

.clear:hover {
	background: #eee;
}

.list-container {
	width: 312px;
}
