.App {
	font-family: 'Oswald', sans-serif;
}

.navbar__container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	background-color: #eee;
	box-shadow: 2px 2px 2px #aaa;
	padding: 10px;
	display: flex;
	justify-content: space-between;
}

.navbar__container i img {
	width: 40px;
	height: 40px;
	margin-left: 80px;
}

.navbar__account {
	margin-right: 80px;
	display: flex;
	justify-content: right;
	align-items: center;
}

.navbar__account img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 40px;
}

.navbar__account h2 {
	text-transform: uppercase;
}

.background {
	width: 100%;
	position: fixed;
}
@media only screen and (max-width: 762px) {
	.background {
		height: 100vh;
	}
}

.wrapper__add {
	position: absolute;
	padding-top: 100px;
	margin-left: 80px;
}

.add__window input {
	width: 140px;
	height: 40px;
	font-size: 15px;
}

.add__window button {
	position: relative;
	bottom: 9px;
	width: 70px;
	height: 46px;
}

.wrapper__windows {
	position: absolute;
	top: 180px;
	left: 80px;
	right: 80px;
	color: #000;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.windows__container {
	background-color: #fff;
	padding: 15px;
	height: 300px;
	box-shadow: 2px 5px 2px #eee;
}

.windows__container h1 {
	margin: 0;
	text-align: center;
}

.list__container {
	height: 200px;
	overflow: auto;
	white-space: nowrap;
}

.list__element {
	display: flex;
	justify-content: space-between;
}

.container__input.windows__input {
	width: 100%;
}

.windows__input input {
	width: 240px;
	height: 30px;
}

.windows__input button {
	height: 36px;
	position: relative;
	bottom: 1px;
	width: 60px;
}

.windows__buttons {
	display: flex;
	justify-content: space-between;
}
