@font-face {
  font-family: "ttnorms";
  src: url(medium.woff);
}
body {
  font-family: "TTNorms", sans-serif;
  color: #ffffff;
  margin: 0;
  width: 100%;
}

.wrapper__nav {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 33.34%;
  left: 0;
  top: 0;
  background: linear-gradient(246.21deg, #0e2c71 -43.38%, #04113d 102.31%);
}
.mobile__background__cover {
  position: inherit;
  width: 100%;
  height: 33.34%;
  bottom: 66.66%;
  right: 0;
  z-index: 0;
}
.saturn__icon {
  position: absolute;
  top: 32px;
  left: 24px;
}

.saturn__icon img {
  width: 48px;
}
.saturn__icon span {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 5px;
}

.clock__time {
  position: absolute;
  left: 23%;
  top: 86px;
}
.time__out__circle {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
  width: 224px;
  height: 224px;
}
.inner__circle {
  border: 8px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 208px;
  height: 208px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.circle__bar {
  position: absolute;
  left: 100px;
  top: -8px;
}

.circle__text {
  padding: 15px 0;
}

.circle__period {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.circle__time {
  font-size: 48px;
  font-weight: bold;
  font-family: "Overpass Mono", monospace;
  line-height: 80px;
}

.circle__process {
  color: #ed882c;
  font-weight: 500;
}

.process__percentage img {
  width: 14px;
}
.classes__date {
  position: absolute;
  left: 50%;
  top: 112px;
}
.class__name {
  font-weight: 500;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.classes__info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin-top: 16px;
}

.classes__process {
  position: absolute;
  width: 294px;
  height: 76px;
  left: 50%;
  margin-top: 52px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  top: 152px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.process__percentage {
  color: #fff;
  z-index: 6;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500px;
  padding-top: 22px;
  position: relative;
  right: 22px;
}
.process__bar {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 2px;
  height: 4px;
  margin-top: 16px;
  width: 254px;
}
.bar__percentage {
  background: #fff;
  border-radius: 2px;
  width: 80px;
  height: 4px;
}
.wrapper__content {
  position: absolute;
  top: 33.34%;
  display: block;
  color: #000;
  box-sizing: border-box;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 56px;
  width: 100%;
}
.content__logout {
  position: absolute;
  right: 32px;
  top: 56px;
}
.content__logout img {
  width: 128px;
}

.content__date {
  margin-left: 24px;
}
.line__split {
  height: 2px;
  background: #000000;
  opacity: 0.1;
  margin: 32px 0;
}
.line--short {
  width: 500px;
}
.date__school {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #000000;
  opacity: 0.5;
  padding: 8px 0;
}
.date__class {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000;
}
.date__class span {
  color: rgb(46, 180, 46);
}

.content__classes__container ul li {
  list-style: none;
  display: flex;
  justify-content: left;
}

.li__order {
  display: flex;
  justify-content: center;
  height: 56px;
  width: 56px;
  border: 2px solid rgba(200, 200, 200, 0.25);
  border-radius: 50%;
  margin-top: 8px;
}
.li__order p {
  position: relative;
  bottom: 4px;
  font-size: 20px;
  line-height: 24px;
  color: #ea3f58;
  opacity: 1;
}
.container__date {
  padding: 8px 24px;
}
.container__date__class {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  padding-bottom: 8px;
}
.container__date__info {
  font-size: 16px;
  line-height: 20px;
  color: #8c99a6;
}

@media only screen and (max-width: 767px) {
  .wrapper__nav {
    display: none;
  }
  .wrapper__content {
    display: none;
  }

  .mobile {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(246.21deg, #0e2c71 -43.38%, #04113d 102.31%);
  }

  .mobile__background__cover {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
  }

  .mobile__logo {
    display: flex;
    justify-content: center;
  }
  .mobile__logo__box {
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 5%;
    box-sizing: border-box;
    border-radius: 30px;
    width: 100px;
    height: 100px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile__introduction {
    position: absolute;
    left: 10%;
    right: 10%;
    z-index: 3;
    top: 20%;
  }
  .mobile__introduction p {
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    text-align: center;
    margin: 0;
  }

  .mobile__background {
    position: relative;
    top: 164px;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .mobile__background img {
    transform: rotate(-20deg);
    width: 880px;
  }

  .mobile__button {
    width: 100%;
    position: absolute;
    bottom: 40px;
    display: flex;
    justify-content: center;
    z-index: 3;
  }

  .mobile__button button {
    font-family: "TTNorms";
    z-index: 2;
    background: #ea3f58;
    box-shadow: 0px 3px 15px rgba(9, 65, 125, 0.15);
    border-radius: 41px;
    border: 0;
    padding: 20px 76px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #fff;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .mobile {
    display: none;
  }

  .clock__time {
    left: 20%;
  }

  .wrapper__nav {
    min-height: 354px;
  }
  .mobile__background__cover {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .wrapper__content {
    top: 354px;
  }
  .blue__time {
    position: absolute;
    left: 15%;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1439px) {
  .mobile {
    display: none;
  }

  .clock__time {
    top: 20%;
  }

  .wrapper__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 33.4%;
    height: 100vh;
  }
  .wrapper__content {
    position: absolute;
    top: 0;
    padding-top: 84px;
    left: 33.4%;
    width: 66.6%;
  }
  .mobile__background__cover {
    width: 33.4%;
    position: fixed;
    height: 100vh;
    left: 0;
    bottom: 0;
  }
  .blue__time {
    position: absolute;
    top: 176px;
    left: 20%;
  }
  .classes__date {
    position: absolute;
    top: 468px;
    text-align: center;
    left: 20%;
  }

  .classes__process {
    background-color: #fff;
    left: 10%;
    top: 80%;
  }
  .process__percentage {
    color: #000;
  }
  .process__bar {
    background: #f1f2f4;
  }
  .bar__percentage {
    background: #ea3f58;
  }
  .content__logout {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
@media only screen and (min-width: 1440px) {
  .mobile {
    display: none;
  }

  .clock__time {
    left: 26%;
    top: 20%;
  }
  .wrapper__nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 33.4%;
    height: 100vh;
  }
  .wrapper__content {
    position: absolute;
    top: 0;
    padding-top: 84px;
    left: 33.4%;
    width: 66.6%;
  }
  .mobile__background__cover {
    width: 33.4%;
    position: fixed;
    height: 100vh;
    left: 0;
    bottom: 0;
  }
  .blue__time {
    position: absolute;
    top: 176px;
    left: 25%;
  }
  .classes__date {
    position: absolute;
    top: 468px;
    text-align: center;
    left: 25%;
  }

  .classes__process {
    background-color: #fff;
    left: 20%;
    top: 80%;
  }
  .process__percentage {
    color: #000;
  }
  .process__bar {
    background: #f1f2f4;
  }
  .bar__percentage {
    background: #ea3f58;
  }
  .content__logout {
    position: absolute;
    right: 16px;
    top: 16px;
  }
}
