.wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 300px;
  height: 70vh;

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  .title {
    display: flex;
    align-items: center;

    i {
      margin-bottom: 8px;
      margin-left: 10px;
      color: transparent;
    }

    i:hover {
      color: rgba($color: red, $alpha: .7);
    }
  }

  .container {
    overflow-x: scroll;

    .todo-container {
      background-color: #fff;
      height: auto;
      padding: 2px 30px;

      .todo-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 15px 0;

        p {
          font-size: 20px;
          color: #646678;
        }

        .todo-button-container {
          display: flex;
          align-items: center;

          .far {
            margin-left: 10px;
            font-size: 17px;
          }

          .ban {
            display: none;
          }

          .check {
            display: none;
          }
        }


      }

      .slide-block {
        position: relative;
        padding-bottom: 30px;

        .left {
          position: absolute;
        }

        .right {
          position: absolute;
          right: 0;
        }

      }
    }
  }

  input {
    margin: 20px 0;
    padding: 10px;
    font-size: 14px;
    border-radius: 8px;
    border: none;
  }

  .move-container {
    display: flex;
    justify-content: space-between;

    i {
      margin: 0 20px;
    }
  }

  .off {
    color: transparent;
  }
}
