.chatlist {
  width: 260px;
  overflow: scroll;
  height: 94vh;

  .chat-list-top {
    position: fixed;
    display: flex;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
    padding-left: 10px;

    p {
      font-size: 14px;
      font-weight: 700;
    }

    span {
      font-size: 12px;
      font-weight: 600;
      margin: 0 20px;
      background-color: #696969;
      color: #fff;
      padding: 5px;
    }
  }

  .chat-list-wrapper {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .chat-list-container {
      display: flex;
      align-items: start;
      justify-content: center;
      background-color: #f5f5f5;
      padding-right: 16px;

      .chat-list-avatar-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 20%;
        height: 10%;
        align-self: center;
        padding-left: 4px;
        padding-right: 10px;
        height: 20px;
        overflow: hidden;

        img {
          overflow: hidden;
          // position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
        }

      }

      .chat-list-text {
        width: 100%;

        h2 {
          font-size: 14px;
        }

        h3 {
          font-size: 10px;
          height: 36px;
          overflow: hidden;

        }
      }

      .chat-list-number {
        position: relative;

        .unread {
          position: absolute;
          top: 50px;
          right: 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #DC143C;
          font-size: 10px;
          color: #fff;
          width: 14px;
          height: 14px;
          border-radius: 50%;
        }

        .read {
          display: none;
        }
      }

      p {
        font-size: 10px;
      }
    }
  }
}
