body {
  margin: 0px;
  font-family: "TTnorms", sans-serif;
  height: 100vh;
  width: 100%;
}

@font-face {
  font-family: "TTnorms";
  src: url("/ttnorms/bold.woff2") format("woff2");
  src: url("/ttnorms/light.woff2") format("woff2");
  src: url("/ttnorms/medium.woff2") format("woff2");
  src: url("/ttnorms/regular.woff2") format("woff2");
  src: url("/ttnorms/bold.woff") format("woff");
  src: url("/ttnorms/light.woff") format("woff");
  src: url("/ttnorms/medium.woff") format("woff");
  src: url("/ttnorms/regular.woff") format("woff");
}

@media only screen and (max-width: 767px) {
  .tabletview-wrapper {
    display: none;
  }

  .laptop-wrapper {
    display: none;
  }

  .mobileview-wrapper {
    position: relative;
    background: linear-gradient(0deg, #6666ff 0, #002b80 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

  .mobileview-img-phone {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
  }

  .mobileview-container {
    position: absolute;
    top: 50px;
    text-align: center;
  }

  .mobileview-container img {
    width: 25%;
    z-index: -1;
  }

  .mobileview-container p {
    font-size: 24px;
    font-weight: 900;
    color: white;
    line-height: 1.5;
    margin: 15px 30px;
    letter-spacing: 1px;
  }

  .mobileview-wrapper button {
    width: calc(100% - 50px);
    font-size: 20px;
    font-weight: 500;
    color: white;
    line-height: 24px;
    padding: 22px 40px;
    border-radius: 50px;
    background-color: #ea3f58;
    border: none;
    position: absolute;
    bottom: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .mobileview-wrapper {
    display: none;
  }

  .laptop-wrapper {
    display: none;
  }

  .tabletview-wrapper {
    position: relative;
    display: block;
  }

  .tabletview-title-container img {
    width: 15%;
    margin-top: 50px;
    margin-left: 30px;
  }

  .tabletview-title-container {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0px;
    background: linear-gradient(0deg, #6666ff 0, #002b80 100%);
  }

  .tabletview-title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .tabletview-title-circle {
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.1);
    color: white;
    margin: 40px 50px 50px 0px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  .tabletview-title-circle p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .tabletview-title-circle h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 74px;
    margin: 0px;
  }

  .tabletview-title-circle h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ed882c;
  }

  .tabletview-title-text h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
  }

  .tabletview-title-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  .tabletview-title-progress p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    padding-right: 50px;
  }

  .tabletview-title-progress {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 15px 30px 30px 30px;
  }

  .tabletview-progressbar {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 20px;
  }

  .tabletview-progressbar div {
    background-color: #fff;
    border-radius: 2px;
    width: 20%;
    height: 4px;
  }

  .tabletview-content-container {
    z-index: 0;
    position: absolute;
    width: 90%;
    top: 410px;
    margin: 20px 50px 0px 50px;
  }

  .tabletview-content-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .tabletview-content-title-text p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    opacity: 0.5;
  }

  .tabletview-content-title-text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }

  .tabletview-content-title-text span {
    color: mediumseagreen;
  }

  .tabletview-content-title button {
    color: #ea3f58;
    font-weight: 400;
    font-size: 16px;
    border: 1px solid #f1f2f4;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
  }

  .tabletview-content-title button i {
    font-size: 20px;
    margin-right: 10px;
  }

  .tabletview-content-list-block {
    display: flex;
    flex-direction: column;
  }

  .tabletview-content-list {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px 20px;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .tabletview-content-list h3 {
    width: 60px;
    height: 60px;
    border: 1px solid #8c99a6;
    border-radius: 50%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ea3f58;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .tabletview-content-list-text h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-bottom: 10px;
  }

  .tabletview-content-list-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #8c99a6;
    margin-top: 0px;
  }

  .mobileview-wrapper {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .mobileview-wrapper {
    display: none;
  }

  .laptop-wrapper {
    display: none;
  }

  .tabletview-title-container img {
    width: 30%;
    margin-top: 40px;
    margin-left: 30px;
  }

  .tabletview-title-container {
    z-index: 1;
    width: 35%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(0deg, #6666ff 0, #002b80 100%);
  }

  .tabletview-title-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .tabletview-title-circle {
    width: 220px;
    height: 220px;
    margin: 0px;
  }

  .tabletview-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .tabletview-title-classroom {
    position: absolute;
    top: 45%;
  }

  .tabletview-title-progress p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding-right: 50px;
  }

  .tabletview-title-progress {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px 30px 30px 30px;
  }

  .tabletview-progressbar {
    background-color: #f1f2f4;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 20px;
  }

  .tabletview-progressbar div {
    background-color: #ea3f58;
    border-radius: 2px;
    width: 20%;
    height: 4px;
  }

  .tabletview-content-container {
    z-index: 0;
    width: 65%;
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  .tabletview-content-title {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
  }

  .tabletview-content-title-text {
    margin-top: 60px;
    margin-left: 30px;
  }

  .tabletview-content-title button {
    color: #ea3f58;
    font-weight: 400;
    font-size: 16px;
    border-radius: 30px;
    padding: 15px 20px;
    margin-top: -50px;
  }

  .tabletview-content-title button i {
    font-size: 20px;
    margin-right: 10px;
  }

  .tabletview-content-list-block {
    display: flex;
    flex-direction: column;
  }

  .tabletview-content-list {
    width: 70%;
    display: flex;
    margin: 0px 60px;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .tabletview-content-list-text h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 1440px) {
  .mobileview-wrapper {
    display: none;
  }

  .tabletview-wrapper {
    display: none;
  }

  .laptop-wrapper {
    position: relative;
    margin: auto;
    max-width: 1440px;
    display: block;
  }

  .laptop-title-container img {
    width: 30%;
    margin-top: 40px;
    margin-left: 30px;
  }

  .laptop-title-container {
    z-index: 1;
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(0deg, #6666ff 0, #002b80 100%);
  }

  .laptop-title-block {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 0px;
    position: relative;
  }

  .laptop-title-circle {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 8px solid rgba(255, 255, 255, 0.1);
    color: white;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  }

  .laptop-title-circle p {
    font-weight: 500;
    font-size: 20px;
    padding-top: 20px;
  }

  .laptop-title-circle h2 {
    font-weight: bold;
    font-size: 60px;
    margin: 0px;
  }

  .laptop-title-circle h4 {
    font-weight: 500;
    font-size: 20px;
    margin-top: 30px;
    color: #ed882c;
  }

  .laptop-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .laptop-title-classroom {
    position: absolute;
    top: 52%;
  }

  .laptop-title-text h3 {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
  }

  .laptop-title-text p {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.5);
  }

  .laptop-title-progress p {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    padding-right: 50px;
  }

  .laptop-title-progress span {
    color: #ea3f58;
  }

  .laptop-title-progress {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 15px 30px 30px 30px;
  }

  .laptop-progressbar {
    background-color: #f1f2f4;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    margin-top: 20px;
  }

  .laptop-progressbar div {
    background-color: #ea3f58;
    border-radius: 2px;
    width: 20%;
    height: 4px;
  }

  .laptop-content-container {
    z-index: 0;
    width: 70%;
    position: absolute;
    right: 0px;
    display: flex;
    flex-direction: column;
  }

  .laptop-content-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
  }

  .laptop-content-title-text {
    margin-top: 60px;
    margin-left: 30px;
  }

  .laptop-content-title-text p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    opacity: 0.5;
  }

  .laptop-content-title-text h2 {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }

  .laptop-content-title-text span {
    color: mediumseagreen;
  }

  .laptop-content-title button {
    color: #ea3f58;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #f1f2f4;
    background-color: white;
    border-radius: 30px;
    padding: 15px 20px;
    margin-top: -50px;
  }

  .laptop-content-title button i {
    font-size: 20px;
    margin-right: 10px;
  }

  .laptop-content-list-block {
    display: flex;
    flex-direction: column;
  }

  .laptop-content-list-block .gray h3 {
    color: rgba(182, 191, 201, 0.75);
    border: 1px solid rgba(182, 191, 201, 0.75);
  }

  .gray .laptop-content-list-text h4 {
    color: rgba(182, 191, 201, 0.75);
  }

  .gray .laptop-content-list-text p {
    color: rgba(182, 191, 201, 0.75);
  }

  .laptop-content-list {
    width: 70%;
    display: flex;
    margin: 0px 60px;
    padding: 20px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .laptop-content-list h3 {
    width: 60px;
    height: 60px;
    border: 1px solid #8c99a6;
    border-radius: 50%;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #ea3f58;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
  }

  .laptop-content-list-text h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: black;
    margin-bottom: 10px;
  }

  .laptop-content-list-text p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #8c99a6;
    margin-top: 0px;
  }
}
