.catigories {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: 383px;
	text-align: left;
	margin-left: 60px;
	margin-bottom: 55px;
	p {
		img {
			display: none;
		}
	}
	&:hover {
		p {
			img {
				display: inline;
			}
		}
	}

	.catigories__list {
		display: flex;
		overflow: auto;
		white-space: nowrap;
		span {
			margin-right: 5px;
			min-width: 204px;
			height: 124px;
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			img {
				position: relative;
				top: 16px;
			}

			&.comedy {
				background: linear-gradient(180deg, #fd5183 0%, #f04275 100%);
			}
			&.action {
				background: linear-gradient(180deg, #ffc852 0%, #eeb843 100%);
			}
			&.drama {
				background: linear-gradient(180deg, #81a7fc 0%, #6e96ef 100%);
			}
			&.sci-fi {
				background: linear-gradient(180deg, #bf64ff 0%, #ab50eb 100%);
			}
			&.romance {
				background: linear-gradient(180deg, #fe7fd0 0%, #e665b7 100%);
			}
			&.thriller {
				background: linear-gradient(180deg, #bfed5a 0%, #a7d73d 100%);
			}
			&.ancient {
				background: linear-gradient(180deg, #5befd9 0%, #41d5c0 100%);
			}
			&.history {
				background: linear-gradient(180deg, #fd5183 0%, #f04275 100%);
			}
			&.life {
				background: linear-gradient(180deg, #ffc852 0%, #eeb843 100%);
			}
			&.future {
				background: linear-gradient(180deg, #81a7fc 0%, #6e96ef 100%);
			}
			&.Others {
				background: linear-gradient(180deg, #bf64ff 0%, #ab50eb 100%);
			}
		}
	}
}
