.navbar {
	width: 100%;
	padding: 0 60px;
	background-color: #000;
	position: absolute;
	top: 0;
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
	.navbar__left {
		display: flex;
		justify-content: left;
		align-items: center;
	}
	.navbar__right {
		display: flex;
		justify-content: right;
		align-items: center;
	}
}
