.friendbox-container {
	width: 100%;
	max-width: 1024px;
	margin: auto;
	box-sizing: border-box;
	.friendbox-header {
		border-radius: 6px 6px 0px 0px;
		width: 100%;
		background-color: #1f8efa;
		padding: 20px 15px;
		box-sizing: border-box;
		color: #fff;
		font-weight: bold;
		display: flex;
		justify-content: space-between;
		align-items: center;
		input {
			border-radius: 15px;
			font-size: 12px;
			padding: 8px 18px;
			border: none;
			outline: none;
			width: 213px;
		}
	}
	.friendbox-wrapper {
		background-color: #f7f7f7;
		width: 100%;
		padding: 15px;
		box-sizing: border-box;
		border-radius: 0px 0px 6px 6px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 15px;
		row-gap: 15px;

		.friendbox-content {
			background-color: #fff;
			display: flex;
			justify-content: space-between;
			padding-right: 25px;
			.friendbox-front {
				display: flex;
				align-items: center;
				img {
					margin-right: 22px;
					height: 100px;
					width: 100px;
				}
				.friendbox-info {
					.friendbox-name {
						padding-bottom: 13px;
						color: #1f8efa;
					}
				}
			}
		}
	}
}
