.home-container {
	background-color: #f2f2f2;
	.home-wraper {
		box-sizing: border-box;
		width: 100%;
		max-width: 1470px;
		padding: 32px 208px;
		display: grid;
		grid-template-columns: 33% 67%;
		margin: auto;
	}
	.home-post {
		margin-bottom: 30px;
	}
}
